BBClassify_output
ui_compile_script.spec
__pycache__/
bbclass/
build/
ai_testing/
docs/raw moments from central and standardized moments.aux
docs/raw moments from central and standardized moments.log
docs/raw moments from central and standardized moments.synctex.gz
